body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: 5px;

    background-color: wheat;
}
.the-grid{

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;

    height: 550px;
    width: 550px;


    margin: 0;
    padding: 0;

    background-color: rgba(141, 188, 141, 0.067);
    border: 1px solid black;

}

.the-grid > div{

    margin: 0;
    padding: 0;
}
